.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5dc #171717;
}

/* For Webkit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #171717;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5dc;
  border-radius: 4px;
}

@media (max-width: 767px) and (orientation: portrait) {
  .landscape-warning {
    display: flex;
  }
}

@media (orientation: landscape), (min-width: 768px) {
  .landscape-warning {
    display: none;
  }
}
